$main-font: "Roboto", sans-serif;
$font-size-bigger: 20px;
$font-size: 14px;

$bg-color: #e5e5e5;
$bg-color-1: #ffffff;
$bg-color-2: #eaedf5;
$bg-row-header: #f6f8fe;
$bg-recrawl-hover: #d2efff;

$border-color: #bac9db;

$color-main: #37474f;
$color-secondary: #c2cfe0;
$color-url: #a5b5cb;
$color-remove: #fb6868;
$color-blue: #0288d1;
$color-result: #34495d;

$color-filter-hover: #f5f8fd;
$color-success: #2ac9a1;
$color-warning: #fafafa;
